/* Oulipo */

* {
  padding: 0;
  margin: 0;
}

body {
	width: 750px;
	margin: 0 auto;
	background-color: #2B2207;
	background:url(../img/bg.png);
}

h1 {
	font-family: 'Arvo', serif;
	font-size: 85px;
}

.title {
    background-image:url(../img/bg.gif);
    position: relative;
    margin-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    text-shadow: -4px 4px 0 #2196F3, -7px 7px 0 #FFEB3B, -10px 10px #F44336;
}

.content {
    margin-top: 30px;
    padding: 30px;
    background-color: rgba(3, 1, 4, 0.31);
    border-width: 4px;
    border-color: pink;
}

.project-link {
    color: white;
    text-align: left;
	font-family: 'Quicksand', sans-serif;
	font-style: bold;
	/*text-shadow: -4px 3px white;*/
}

.project-link h2 {
     color: white;
     margin-bottom: 5px;
     margin-top: 5px;
}

.project-link h2 span {
    color: #B0B0B0;
    font-size: 70%;
    margin-left: 1em;
}

/*Every first .project-link*/
.project-link:nth-child(3n+1) {
    color: #FFEB3B;
}

/*Every second .project-link*/
.project-link:nth-child(3n+2) {
    color: #2196F3;
}

/*Every third .project-link*/
.project-link:nth-child(3n+3) {
    color: #F44336;
}

/*
"GLITCH"
CSS written by Lucas Bebber
http://codepen.io/lbebber/pen/ypgql
*/

@keyframes noise-anim {
  0% {
    clip: rect(9px, 9999px, 47px, 0);
  }
  2% {
    clip: rect(70px, 9999px, 34px, 0);
  }
  5% {
    clip: rect(81px, 9999px, 35px, 0);
  }
  10% {
    clip: rect(53px, 9999px, 39px, 0);
  }
  12% {
    clip: rect(16px, 9999px, 54px, 0);
  }
  15% {
    clip: rect(92px, 9999px, 13px, 0);
  }
  17% {
    clip: rect(100px, 9999px, 23px, 0);
  }
  20% {
    clip: rect(58px, 9999px, 84px, 0);
  }
  22% {
    clip: rect(64px, 9999px, 73px, 0);
  }
  25% {
    clip: rect(23px, 9999px, 27px, 0);
  }
  30% {
    clip: rect(2px, 9999px, 82px, 0);
  }
  32% {
    clip: rect(36px, 9999px, 86px, 0);
  }
  35% {
    clip: rect(71px, 9999px, 10px, 0);
  }
  40% {
    clip: rect(44px, 9999px, 39px, 0);
  }
  43% {
    clip: rect(68px, 9999px, 12px, 0);
  }
  50% {
    clip: rect(66px, 9999px, 77px, 0);
  }
  53% {
    clip: rect(8px, 9999px, 28px, 0);
  }
  55% {
    clip: rect(89px, 9999px, 20px, 0);
  }
  57% {
    clip: rect(21px, 9999px, 7px, 0);
  }
  60% {
    clip: rect(86px, 9999px, 66px, 0);
  }
  65% {
    clip: rect(37px, 9999px, 59px, 0);
  }
  67% {
    clip: rect(68px, 9999px, 12px, 0);
  }
  70% {
    clip: rect(66px, 9999px, 77px, 0);
  }
  73% {
    clip: rect(8px, 9999px, 28px, 0);
  }
  75% {
    clip: rect(89px, 9999px, 20px, 0);
  }
  78% {
    clip: rect(21px, 9999px, 7px, 0);
  }
  80% {
    clip: rect(86px, 9999px, 66px, 0);
  }
  82% {
    clip: rect(37px, 9999px, 59px, 0);
  }
  85% {
    clip: rect(21px, 9999px, 7px, 0);
  }
  87% {
    clip: rect(86px, 9999px, 66px, 0);
  }
  90% {
    clip: rect(37px, 9999px, 59px, 0);
  }
  93% {
    clip: rect(86px, 9999px, 66px, 0);
  }
  97% {
    clip: rect(37px, 9999px, 59px, 0);
  }
}
.title:after {
  content: attr(data-text);
  position: absolute;
  left: 65px;
  top: 0;
  /*overflow: hidden;*/
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 3s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(33px, 9999px, 76px, 0);
  }
  5% {
    clip: rect(9px, 9999px, 4px, 0);
  }
  10% {
    clip: rect(5px, 9999px, 38px, 0);
  }
  15% {
    clip: rect(61px, 9999px, 50px, 0);
  }
  20% {
    clip: rect(72px, 9999px, 68px, 0);
  }
  25% {
    clip: rect(37px, 9999px, 23px, 0);
  }
  30% {
    clip: rect(20px, 9999px, 34px, 0);
  }
  35% {
    clip: rect(22px, 9999px, 7px, 0);
  }
  40% {
    clip: rect(52px, 9999px, 54px, 0);
  }
  45% {
    clip: rect(85px, 9999px, 55px, 0);
  }
  50% {
    clip: rect(63px, 9999px, 80px, 0);
  }
  55% {
    clip: rect(30px, 9999px, 33px, 0);
  }
  60% {
    clip: rect(25px, 9999px, 74px, 0);
  }
  65% {
    clip: rect(62px, 9999px, 50px, 0);
  }
  70% {
    clip: rect(98px, 9999px, 80px, 0);
  }
  75% {
    clip: rect(48px, 9999px, 89px, 0);
  }
  80% {
    clip: rect(52px, 9999px, 32px, 0);
  }
  85% {
    clip: rect(71px, 9999px, 55px, 0);
  }
  90% {
    clip: rect(67px, 9999px, 10px, 0);
  }
  95% {
    clip: rect(37px, 9999px, 35px, 0);
  }
  100% {
    clip: rect(6px, 9999px, 53px, 0);
  }
}
.title:before {
  content: attr(data-text);
  position: absolute;
  left: 65px;
  top: 0;
  /*overflow: hidden;*/
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
