body {
  font-family: 'Dosis', sans-serif;
  background: #F1F6FF;
  display: block;
  margin: 0;
}

#title {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  line-height: 75%;
}

#title h1 {
  font-size: 16px;
  display: inline-block;
  padding: 13px;
  margin: 4px;
  margin-left: 0;
  background-color: #9CBEF2;
  color: black;
}

nav {
  margin: 30px;
  margin-top: 30px;
  float: left;
}

nav ul {
  padding-left: 0;
  line-height: 1.6em;
  letter-spacing: 0.08em;
  list-style-type: none;
  font-size: 17px;
}

nav ul li {
  padding-left: 7px;
  padding-right: 7px;
}

nav ul li:hover {
  display: inline-block;
  transition: background .1s ease-in-out;
  background: black;
  color: #F1F6FF;
}

main {
  display: inline-block;
  margin: 30px;
}

img {
  height: 250px;
  width: 100%;
}
