body {
  font-family: 'Inconsolata', serif;
  background: #F1F6FF;
  display: block;
  margin: 0;
}

/*TITLES*/
#title {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  line-height: 75%;
}

#title h1 {
  font-size: 16px;
  display: inline-block;
  padding: 13px;
  margin: 4px;
  margin-left: 0;
  background-color: #9CBEF2;
  color: black;
}

/*NAV BAR*/
nav {
  margin: 30px;
  margin-top: 30px;
  float: left;
}

nav ul {
  padding-left: 0;
  line-height: 1.6em;
  letter-spacing: 0.08em;
  list-style-type: none;
  font-size: 17px;
}

nav ul li {
  padding-left: 7px;
  padding-right: 7px;
}

nav ul li:hover {
  display: inline-block;
  transition: background .1s ease-in-out;
  background: black;
  color: #F1F6FF;
}

/*MAIN SITE BODY */
main {
  display: inline-block;
  margin: 30px;
}

h1 {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  font-size: 22px;
}

.crop-img {
  width: 600px;
  height: 150px;
  overflow: hidden;
}

.crop-img img {
  width: 600px;
  /*height: 300px;*/
  margin: -100px 0;
}
