body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
Helvetica, Arial, "Lucida Grande", sans-serif;
}

#title {
  background-color: rgba(30, 30, 30, 0.6);
  color: white;
  border-radius: 4px;
  padding: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 8px;
  display: block;
  /*position: absolute;*/
  position: fixed;
  right: 0;
  bottom: 0;
}

#title h1 {
  font-size: 28px;
  margin-top: 12px;
}

#project-nav {
  padding-left: 0;
  list-style-type: none;
  text-align: center;
}

#project-nav li {
  display: inline-block;
}

#project-nav a, a:visited{
  border-radius: 5px;
  color: white;
  text-decoration: none;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.2);
}

#project-nav a:hover {
  background-color: yellow;
  color: black;
}

#past-project {
  margin-right: 10px;
}
#next-project {
  margin-left: 10px;
}
