* {
  padding: 0;
  margin: 0;
}

body {
	width: 600px;
	margin: 0 auto;
	background-color: #2B2207;
	background: url(../images/bg.png);
}

h1 {
	font-family: 'Arvo', serif;
	font-size: 50px;
	color: #ff900d;
	text-shadow: -4px 3px 0 #624019, -8px 7px 0 #181304;
	text-align: center;
}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-style: bold;
	color: #bfb79f;
	text-shadow: -4px 3px #4F6B62;
	padding-left: 130px;
}
