* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  /*initial opacity */
  opacity: 0;
  line-height: 1.4em;

  font-family: "Brown-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  background: #F1F6FF;
  margin: 0;
  padding: 30px;
}

/*TITLES*/
#title {
  font-family: 'Bitter', serif;
  /*text-transform: lowercase;*/
  line-height: 75%;
}

#title h1 {
  font-size: 22px;
  display: block;
  padding: 15px;
  margin: 0;
  margin-bottom: 10px;
  background-color: #9CBEF2;
  color: black;
  border-radius: 2px;
}

/*NAV BAR*/
nav {
  float: left;
  /* for the gap between nav and main*/
  margin-right: 30px;
}

nav ul {
  padding-left: 0;
  list-style-type: none;
  line-height: 1.6em;
  letter-spacing: 0.08em;
}

.page-link {
  display: block;
  padding-left: 5px;
  border-radius: 2px;
}

.page-link:hover {
  transition: background .5s ease-in-out;
  border-left: 5px solid #9CBEF2;
}

.page-link a {
  color:inherit;
  text-decoration: none;
}

/*back to projects sign */
span#return-to-projecs {
  color: #B19881;
}

/*use in mobile only */
#nav-toggle-button {
  display: none;
}

.selected-link {
  color: black;
  background: white;
  display: block;
  border-left: 5px solid #5A88CE;
}

.selected-link:hover {
  display: block;
  border-left: 5px solid #5A88CE;
}

/*MAIN SITE BODY */
main {
  overflow: hidden; /*life saver, worth dedicating */
  min-height: 500px;
  max-width: 600px;

  /*hide all mains in the beginning */
  display: none;
}

.current-main {
  display: block;
}

/*more width for projects and gallery */
main#projects, main#gallery {
  max-width: 800px;
}

/*general element styles */
main h1, main h2, main h3, main h4, main h5, main h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

main h1 {
  font-family: 'Bitter', serif;
  color: #5A88CE;
  line-height: 1;
  font-size: 26px;
}

main h1 span {
  color: #9CBEF2;
}

main h2 {
  font-family: 'Bitter', serif;
  color: #9CBEF2;
  text-transform: uppercase;
  font-size: 18px;
}

main h3 {
  font-weight: bold;
  font-size: 18px;
  /*font-style: italic;*/
}

main ul {
  margin-top: 6 px;
  margin-bottom: 12px;
}

main a {
  color: #B19881;
}

#resume a {
  color: black;
}

#resume a:hover {
  background-color: #9CBEF2;
}

/*PAGES*/

/*image viewer*/
.crop-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 2px;
}

.crop-img img {
  visibility: visible;
  width: 100%;
  /*background-blend-mode: lighten;*/
}

.img-caption {
  margin-top: 8px;
  text-align: right;
  color: grey;
}

.blur-effect {
  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px);
}

/*PROJECT TILE PAGE SETTINGS*/

.grid-sizer, .grid-item {
  margin: 0.75%;
  border-radius: 6px;
  background-color: #9CBEF2;
  float: left;
  width: 31%;
  height: 180px;
  display: table;
}

.grid-description {
  position: absolute;
  bottom: 0px;
  margin: 6px;
  padding: 2px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.7);;
  color: white;
}

.grid-item a {
  color: #9CBEF2;
  /*display: block;*/
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  line-height: 1.2em;
}

.grid-item span {
  color: white;
  font-size: 14px;
}

.grid-item:hover {
  background-blend-mode: difference;
}

/*mansory settings */
.grid-item--height2 {
  height: 300px;
}

@media screen and (max-width: 850px) {
  .grid-sizer, .grid-item {
    width: 48%;
  }
}

/*for inline videos*/
iframe {
  width: 100%;
  height: 300px;
}

/*INDIVIDUAL PAGE SPECIFIC STUFF*/

.tweet-wrap {
  width: 300px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  .tweet-wrap {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {

  body {
    padding: 20px;
  }

  main {
    width: auto;
    max-width: 700px;
  }

/*decrease logo a tiny bit */
  #title h1 {
    padding: 12px;
    margin-bottom: 10px;
  }

  /*decrease the gap between nav and main */
  nav {
    margin-right: 20px;
  }
}

/*thanks, Steve Jobs*/
@media screen and (max-width: 650px) {
  body {
    padding: 0;
  }

  #title {
    margin: 8px;
    margin-bottom: 2px;
  }

  #title h1 {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 6px;
  }

  /*full width and no more stress*/
  nav {
    display: block;
    width: 100%;
  }

  /*show the nav toggle button*/
  #nav-toggle-button {
    /*text-decoration: underline;*/
    font-weight: bold;
    display: inline-block;
    position: fixed;
    margin-top: 20px;
    margin-right: 12px;
    right: 0;
    color: #5A88CE;
    z-index:5;
  }

  /*used to make sure that nav does not disapear
  when rezising window from smaller screens
  the nav can only hidden be hidden in mobile view*/
  .show-nav-mobile {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #DAE4F3;
    border-radius: 4px;
    padding-top: 8px;
  }

  nav ul {
    display: none;
    margin-top: 0;
    padding-bottom: 12px;
    opacity: 0.85;
  }

  nav ul li {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    font-size: 110%;
  }

  .selected-link {
    border-left: 5px solid #5A88CE;
    border-right: 5px solid #5A88CE;
    margin-left: 10px;
    margin-right: 10px;
  }

  #title {
    display: inline-block;
  }

  #title h1 {
    display: inline-block;.
  }

  /*full width and no more stress*/
  main {
    width: 100%;
    margin: 0;
  }

  .content {
    margin: 8px;
  }

  /*truncate part of the gpg fingerprint*/
  #gpg span {
    display: none;
  }

  footer {
    background-color: #B3C3DC;
    height: 70px;
    text-align: center;
    padding-top: 10px;
  }
}
