
body {
  font-family: 'Inconsolata', serif;
  background: #F1F6FF;
  margin: 0;
  padding: 30px;
}

/*TITLES*/
#title {
  text-transform: uppercase;
  letter-spacing: 0.18em;
  line-height: 75%;
}

#title h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  display: block;
  padding: 15px;
  margin: 0;
  margin-bottom: 12px;
  background-color: #9CBEF2;
  color: black;
}

/*NAV BAR*/
nav {
  float: left;
  /* for the gap between nav and main*/
  margin-right: 30px;
}

nav ul {
  padding-left: 0;
  list-style-type: none;
  font-size: 18px;
  line-height: 1.6em;
  letter-spacing: 0.08em;
}

nav ul li {
  padding-left: 5px;
}

nav ul li:hover {
  display: inline-block;
  transition: background .5s ease-in-out;
  border-left: 5px solid #9CBEF2;
}

/*use in mobile only */
#nav-toggle-button {
  display: none;
}

.selected-page {
  color: black;
  background: white;
  display: block;
  border-left: 5px solid #5A88CE;
}

.selected-page:hover {
  display: block;
  border-left: 5px solid #5A88CE;
}

/*For External Menu Links */
nav ul li a {
  color:inherit;
  text-decoration: none;
}

/*MAIN SITE BODY */
main {
  overflow: hidden; /*life saver, worth dedicating */
  min-height: 500px;
  width: 600px;

  /*hide all mains in the beginning */
  display: none;
}

/*general element styles */
main h1, main h2, main h3, main h4, main h5, main h6 {
  font-family: 'Inconsolata', serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

main h1 {
  font-family: 'Comfortaa', cursive;
  color: #5A88CE;
  letter-spacing: 0.10em;
  font-size: 20px;
}

main h2 {
  color: #9CBEF2;
  letter-spacing: 0.10em;
  text-transform: uppercase;
  font-size: 18px;
}

main h3 {
  font-size: 17px;
  font-style: italic;
  font-weight: normal;
}

main h4 {
  font-size: 15px;
  font-style: italic;
  font-weight: normal;
}

p {
  line-height: 1.30;
}

a {
  color: #B19881;
  text-decoration: none;
}

/*PAGES*/

/*display about in the beginning*/
/*a minor aid if javascript is disabled */
#about{
  display: block;
}

/*image viewer*/
.crop-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.crop-img img {
  width: 100%;
  /*margin: -100px 0;*/
}

.img-caption {
  font-size: 13px;
  margin-top: 5px;
  text-align: right;
  color: grey;
}

/*hi, I'm footer, I like acting like a d**k. */
footer {
  font-size: 14px;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 15px;
  margin-top: 40px;
}

/*for background canvas */
canvas {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

@media screen and (max-width: 850px) {

  body {
    padding: 20px;
  }

  main {
    width: auto;
    max-width: 700px;
  }

/*decrease logo a tiny bit */
  #title h1 {
    font-size: 15px;
    padding: 12px;
    margin-bottom: 9px;
  }

  /*decrease the gap between nav and main */
  nav {
    margin-right: 20px;
  }
}


/*thanks, Steve Jobs*/
@media screen and (max-width: 650px) {
  body {
    padding: 0;
  }

  #title {
    margin: 10px;
  }

  #title h1 {
    margin-bottom: 0;
  }

  /*full width and no more stress*/
  nav {
    display: block;
    width: 100%;
  }

  /*show the nav toggle button*/
  #nav-toggle-button {
    text-decoration: underline;
    display: inline-block;
    position: fixed;
    margin-top: 12px;
    margin-right: 10px;
    right: 0;
    font-size: 20px;
    color: #5A88CE;
  }

  /*used to make sure that nav does not disapear
  when rezising window from smaller screens
  the nav can only hidden be hidden in mobile view*/
  .show-nav-mobile {
    display: block;
  }

  nav ul {
    display: none;
    margin-top: 0;
  }

  nav ul li {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  #title {
    display: inline-block;
  }

  #title h1 {
    display: inline-block;
  }

  /*full width and no more stress*/
  main {
    width: 100%;
    margin: 0;
  }

  .content {
    margin: 5px;
  }

  /*truncate part of the gpg fingerprint*/
  #gpg span {
    display: none;
  }
}
